{% block title %}Profile of {{ profile.user.username }}{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ profile.user.username }}'s Profile</h2>
    
    <div class="profile-info">
        <img src="{{ user.profile.profile_picture }}" alt="{{ profile.user.username }}" class="profile-pic" style="width:150px;height:150px;">
        
        <p><strong>Bio:</strong> {{ profile.user.bio }}</p>
        
        {% if user != request.user %}
            {% if is_following %}
                <form method="POST" action="{% url 'unfollow_user' profile.username %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Unfollow</button>
                </form>
            {% else %}
                <form method="POST" action="{% url 'follow_user' user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Follow</button>
                </form>
            {% endif %}
        {% else %}
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
        {% endif %}
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
    </div>
</div>

{% endblock %}
