{% block content %}
<div class="container">
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="cont-btn">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
{% endblock %}

<style>
   
    body{
        background-color: #7949c1;
        color: #FFFFFF;
        justify-content: center;
        display: flex;
        align-items: center
    }
    button{
        border: 1sp;
        border-radius: 10px;
        padding: 8px;
        background-color: #f64c72;
        color: white;
        font-weight: bold;
    }
    a{
          color: aquamarine;
    }
    .container{
        border: 2px solid;
        border-radius: 10px;
        width: max-content;
        padding: 20px;
    }
    h2{
        text-align: center;
    }
    .cont-btn{
        text-align: center;
        padding-top: 10px;
    }    
  </style>
